*{
    background-color: aqua;
}
.UMP{
    background-color: aqua;
}
.UM{
    font-style:oblique;
    color:darkblue;
    font-weight: bolder;
    margin:20px 10px;
    text-align: center;
    font-size: 50px;
}
ul{
    display: flex;
}
ul li  {
    margin-left: 300px;
    padding:30px;
    text-align: center;
    margin-top: 20px;
    list-style: none;
    justify-content: center;
    align-items: center;
}
ul li a{
    text-decoration: none;
    font-size: 80px;
    font-weight: bolder;
}
.SI{
    width:300px;
    height: 300px;
}
ul li a:hover{
   color: white;
}
.SI img{
    justify-content: center;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}